@import "tailwindcss";

@font-face {
  font-family: "Marge";
  src: url("./assets/Marge.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-marge {
  font-family: "Marge", cursive !important;
}

@theme {
  --font-marge: "Marge", cursive;
}
